
		<div class="col col-sm-6 col-questions">
			<h3>What do you think?</h3>

			<label for="username" class="input-label">Your Name<br /><input class="form-control" id="username" /></label><br />

			<label for="sympathy" id="q1" class="input-label">Who or what is the most championed person or idea in the piece?<br /><input class="form-control" id="sympathy" /></label><br />

			<label for="antipathy" id="q2" class="input-label">Who is the villain of the piece?<br /><input class="form-control" id="antipathy" /></label><br />

			<label for="examples" id="q3" class="input-label">Give examples in the text that inform your conclusions.<br /><textarea class="form-control" id="examples"></textarea></label><br />

			<button type="button" class="btn btn-large btn-save-note">Save Thoughts</button>

			<button type="button" class="btn btn-large btn-show-notes">View Saved Notes</button>

		</div><!-- /col-questions -->
	